- $about = get_page_by_title("About")->ID
.footer-container
	.section-wrapper
		.left
			.copyright	
				= '©'.get_field('copyright', $about)
		.right.social-icons
			.col.sprite.instagram.social-icon
				%a.filled-link(href="#{get_field('instagram_link', $about)}" target="_blank")
			.col.sprite.linkedin.social-icon
				%a.filled-link(href="#{get_field('linkedin_link', $about)}" target="_blank")
			.col.sprite.twitter.social-icon
				%a.filled-link(href="#{get_field('twitter_link', $about)}" target="_blank")

		.clear
