// Base Styles

* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // opacity: 0;
}

h4 {
	font-family: Oswald;
	font-size: 25px;
	line-height: 28px;
}

.section-wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 40px 35px;
}

.sprite {
	background-image: url('../images/sprites.png');
	background-repeat: no-repeat;
	&.social-icon {height: 30px; width: 30px;}
	&.instagram {background-position: 0 0;}
	&.linkedin {background-position: -40px 0;}
	&.twitter {background-position: -80px 0;}
	&.menu-switch {
		height: 22px;
		width: 30px;
		background-position: -120px 0;
	}
}

.arrows {
  div[class^="ls-nav-"] {
  	z-index: 2;
  	height: 41px;
  	width: 41px;
  	opacity: 0.5 !important;
  	&:hover {opacity: 0.8 !important;}
  	a {
  		background: url('../images/sprites.png') 0 -40px no-repeat;
  		height: 100%;
  		width: 100%;
  	}
  	&.ls-nav-left-arrow {
  		margin: 50px 0 0 65px;
  		a {@include transform(scaleX(-1) translateY(-50%));}
  	}
  	&.ls-nav-right-arrow {
  		top: -20px;
  		right: auto;
  		left: 125px;
  	}	
  }

  @media #{media-width-res(1100)} {
  	div[class^="ls-nav-"] {
  		&.ls-nav-left-arrow {
  			margin-left: 35px;
  		}
  		&.ls-nav-right-arrow {left: 95px;}
  	}
  }
}