//Slider styles

.liquid-slider {background: none;}

.ls-wrapper {
	width: 100%;
	max-width: 100% !important;

	.panel-container {
		// width: 100% !important;
	}
	.panel-wrapper {
		width: 100% !important;
		padding: 0;
		// max-width: $maxSize;
	}

}
